---
import Logo from '../assets/Logo.svg'
---

<nav class="flex justify-center m-2 border-2 border-black rounded shadow-2xl 
bg-gradient-to-b from-blue-600 via-blue-300 to-white">
    <ul class="flex gap-4 md:gap-10 align-center items-center">
        <li> <Logo class="md:w-20 md:h-20 w-12 h-12"/></li>
        <li class="text-xl md:text-2xl border-2 border-black rounded hover:bg-black hover:text-white"><a href="/">Inicio</a></li>
        <li class="text-xl md:text-2xl border-2 border-black rounded hover:bg-black hover:text-white"><a href="/servicios">Servicios</a></li>
        <li class="text-xl md:text-2xl border-2 border-black rounded hover:bg-black hover:text-white"><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
